* { padding: 0; margin: 0; list-style: none; }
body{ background: #e9eaed; text-rendering: optimizelegibility;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px;color: #333;line-height: 1.28; overflow: auto !important }
body .in { max-width: 851px; margin-left: auto; margin-right: auto; overflow: hidden; }
#main { margin-top: 40px }
#content { float: right; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

footer{
  p {
    text-align: center;
    color: #000;
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    .heart{
      color: red;
    }
  }
}

