#page_feed{
  background: transparent;
  border: none
}

#page_feed{
  float: right
}
#page_feed ol{
  margin: 0;
}

#activities p.header{
  text-align: left;
  position: relative;
}
#activities p.header span.text{
  background-color: #e9eaed;
  color: #89919c;
  text-shadow: 0 1px 0 #f6f7f8;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  padding: 0 8px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: -8px;
}

#activities p.header .line{
  border-bottom: 1px solid #f6f7f8;
  border-top: 1px solid #d3d7dc;  display: block;
  height: 0;
  position: relative;
}

#activities li.year{
  width: 512px;
}

#activities .month ol li{
  color: #37404e;
  width: 512px;
  border: 1px solid #d3d6db;
  padding: 12px;
  background: #FFF;
  border-radius: 3px;
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 18px;
}
#activities .month ol li p{
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}
#activities .month ol li p .at{
  color: gray;
  display: block;
}
#activities .month ol li header {
  margin-bottom: 15px;
}
#activities .month ol li header .img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  float: left;
  margin-right: 9px;
  border: 1px solid #CCC;
}
#activities .month ol li header .about{
  float: left;
  width: 435px;
}

#activities .month ol li video{
  width: 480px !important;
  height: 270px !important;
}

#activities .month ol li header .img img{
  max-width: 40px;
}
#activities .month ol li header h5{
  font-size: 12px;
  line-height: 19px;
  font-weight: 700;
}
#activities .month ol li header time{
  color: #89919c;
  font-size: 11px;
}
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
