<div class="topbar" data-scrollspy="scrollspy">
<div class="topbar-inner">
<div class="in canvas">
<a class="brand" href="#">
<img src="images/icon.png" />
Câmarabook
</a>
</div>
</div>
</div>
<div class="in" id="main">
{{outlet}}
</div>
<footer class="in">
<p>Feito com <span class="heart">&#9829</span> por <a class="nofollow" href="http://dukex.github.io">Duke X</a></p>
</footer>
