<div class="topbar" data-scrollspy="scrollspy">
<div class="topbar-inner">
<div class="in canvas">
<a class="brand" href="#">Câmarabook</a>
</div>
</div>
</div>
<div class="in" id="main">
{{outlet}}
</div>
<footer class="in">
<p>Feito com <span class="heart">&#9829</span> por <a class="nofollow" href="https://github.com/dukex">Duke X</a></p>
</footer>
